#top {
  @apply flex py-3 px-6 justify-between backdrop-blur bg-black/40;
  animation: fade-down 1s;
}

.ui-btn {
  @apply text-white/40 hover:text-white/90 hover:scale-105 active:scale-95 hover:bg-white/30 transition-all outline outline-1 outline-white/40 hover:outline-white/90 rounded-sm py-3 px-6;
  visibility: visible !important;
}

.car-selection-container {
  @apply flex gap-2;
}

.car-selection-btn {
  @apply hover:scale-110 active:scale-95 hover:bg-white/30 transition-all outline outline-1 outline-white/50 rounded-sm py-3 px-6;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
