.main-container {
  @apply flex flex-col max-h-[12rem] h-full text-white bg-black/40 backdrop-blur pointer-events-none text-[1.25rem];
  animation: fade-up 1s;
}

.car-information {
  @apply grid grid-cols-4 px-14 pt-5 gap-x-4 h-full;
}

.detail-container {
  @apply flex justify-between items-start text-white/60;
}

.detail {
  @apply flex w-full justify-between border-b-2 border-white/20;
}

.detail-text {
  @apply text-white/70;
}

.slider {
    @apply pb-10 overflow-hidden whitespace-nowrap text-white/90;
}

.sliding-text {
    @apply text-lg inline-block;
    animation: slide 130s linear infinite;
  }

@keyframes slide {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}