@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Poppins-Regular.ttf");
}

html,
body,
#root {
  @apply w-screen h-screen overflow-hidden select-none font-poppins;
}
